In [2]:
import pandas as pd
import numpy as np

In [3]:
l_ele = [
    'TFe',
    'SiO2',
    'Al2O3',
    'S',
    'P',
    'TiO2',
    'MnO',
    'MgO',
    'CaO',
    'K2O',
    'Na2O',
    'ZnO',
    'H2O',
    'As',
    'Cr',
    'FeO',
]

In [4]:
## 输入1
#返矿配比
alpha = 0.155
#入炉结构
pp_S = 90
pp_Q = 5
pp_K = 5
#烧损
LOI_delta = np.array([alpha * 100]*len(l_ele)).reshape(16,1)

In [5]:
## 输入2
df = pd.read_excel("Sample_data1.xlsx")
df.fillna(0, inplace = True)

In [7]:
E = df.iloc[:-2,:][l_ele].T.values

In [8]:
S_v = [1]*len(l_ele)
S_v[2] = 0.22
S = np.diag(S_v)

In [9]:
K = np.diag((df.iloc[-1,:][l_ele]*pp_K/100 + df.iloc[-2,:][l_ele]*pp_Q/100).tolist())

In [10]:
LOI = np.array([df.iloc[:-2,:]["烧存"].values.tolist()]*len(l_ele))

In [11]:
Price = np.array(df["干基不含税到厂价"].tolist()[:-2]).reshape(20,1)

In [12]:
def get_S_ele(P):
    M_lhs = np.dot(pp_S*np.dot(S,E) + np.dot(K,LOI),P) + np.dot(K, LOI_delta)
    M_rhs = np.dot(LOI,P) + LOI_delta - np.dot(alpha*pp_S*S, np.array([1]*S.shape[1]).reshape(S.shape[1],1))
    return(np.dot(S,(np.dot(E,P) + alpha*M_lhs / M_rhs)) / (np.dot(LOI,P) + LOI_delta))

In [13]:
# P是配比，输入3

In [14]:
P_v = [
    0.2,
    0,
    0.2,
    0,
    0.05,
    0.05,
    0,
    0,
    0.04,
    0.04,
    0.03,
    0.06,
    0.045,
    0,
    0,
    0.05,
    0,
    0.03,
    0.02,
    0.03,
]
P = np.array(P_v).reshape(len(P_v),1)

In [22]:
#计算成分，单位为%，输出对应l_ele

In [23]:
l_ele

['TFe',
 'SiO2',
 'Al2O3',
 'S',
 'P',
 'TiO2',
 'MnO',
 'MgO',
 'CaO',
 'K2O',
 'Na2O',
 'ZnO',
 'H2O',
 'As',
 'Cr',
 'FeO']

In [24]:
get_S_ele(P).squeeze()

array([5.28857518e-01, 5.74788585e-02, 5.92583808e-03, 1.05652697e-03,
       1.03750446e-03, 4.11452017e-03, 3.86415080e-03, 2.77440555e-02,
       1.14877955e-01, 4.28585512e-04, 5.78780667e-04, 5.40239399e-05,
       9.57052126e-02, 4.63156864e-05, 4.18495309e-05, 1.45814021e-02])

In [27]:
df_成分 = pd.DataFrame()
df_成分["成分"] = l_ele
df_成分["占比%"] = [round(i,2) for i in get_S_ele(P).squeeze()*100]
# 输出1
df_成分

       成分    占比%
0     TFe  52.89
1    SiO2   5.75
2   Al2O3   0.59
3       S   0.11
4       P   0.10
5    TiO2   0.41
6     MnO   0.39
7     MgO   2.77
8     CaO  11.49
9     K2O   0.04
10   Na2O   0.06
11    ZnO   0.01
12    H2O   9.57
13     As   0.00
14     Cr   0.00
15    FeO   1.46

In [17]:
#输出2 成本

In [55]:
O_v= np.dot(P.T, Price)
P_s1 = O_v.squeeze()

In [56]:
P_Q = df.iloc[-2, 1]
P_K = df.iloc[-1, 1]

In [60]:
P_F = (pp_S*(1-alpha)*P_s1 + pp_Q*P_Q + pp_K*P_K)/100/(1 - pp_S/100*alpha)

In [74]:
(P_s1 + alpha*P_F)/(np.sum([i*j for i,j in zip(df.iloc[:-2]["烧存"].tolist(),P_v)])/100+alpha)

862.8437995482356

In [1]:
df

NameError: name 'df' is not defined